*/bower_components/
*/node_modules/
/node_modules/
*/server/node_modules/
*/server/node_modules/*
*/server/mails/templates/server/*
/server/mails/templates/server/
*/src/api/
/src/api/
.brackets.json
package-lock.json
