doctype html
html(lang="en")
	include struct/head.pug
	body
		#app
			include components/header
			main
				include components/body/menu
				include components/body/checkout
		include components/attributions
