a = rgba(p.c, 1)
b = rgba(p.c, 0.75)
c = rgba(p.c, 0.25)
d = rgba(p.c, 0.125)
e = rgba(p.c, 0.0625)
f = rgba(p.c, 0)
header
	max-width 100%
	flex-direction row
	display flex
	flex-basis 20%
	flex-grow 1
	justify-content space-around
	align-items stretch
	.name
		font-family 'Nothing You Could Do'
		@extend .h1
		color: p.a
		@extend .text-shadow
		text-align center
		highlight()
		@extend .flex-thirds
		@extend .headSectHov
	.about
		font-family Pompiere
		@extend .h5
		shade()
		highlight()
		@extend .flex-thirds
		@extend .headSectHov
		flex-direction column
		.schedule
		.adress
			@extend .text
	.badges
		highlight()
		@extend .flex-thirds
		text-align center
		flex-direction row
		display flex
		.icon
			height 4.25vmax
			width @height
			@extend .transition
			@extend .background
			@extend .pop
			highlight()
		.yelp
			height 5vmax
			width @height * (52/25)
			opacity 0.65
			background-image url('../graphics/icons/yelp.svg')
		.shoppingBag
			background-image url('../graphics/icons/shoppingBag.svg')
			position relative
			&:after
				content attr(title)
				position absolute
				bottom  0
				right 0
				line-height 50%
				@extend .h4
		#checkoutButton
			highlight()
			@extend .flex-seconds
			@extend .headSectHov
			@extend .caveat
			flex-direction column
			.subtext
				@extend .h4
		.socialMedia
			highlight()
			@extend .flex-seconds
			@extend .headSectHov
			height 100%
			justify-content center
	@media all and (orientation: landscape)
		background-image: linear-gradient(90deg, b, b, b, b, a, b, c, f, f)
	@media all and (orientation: portrait)
		@extend .expand
		flex-direction column
		position absolute
		z-index 100
		@extend .center
		@extend .donut
		.name
		.about
		.badges
			background: rgba(lighten(p.c, 45%), 0.85)
			background-image: url(pattern)
			background-blend-mode overlay
			background-size 2em
			border-radius 100%
			width 35vmax
			height auto
			margin auto
			@extend .transition
			&:hover
			&:active
				background-blend-mode hard-light
		.badges
			flex-direction column
			@extend .center
			order 2
			.yelp
			#checkoutButton
				@extend .center-self
		.name
			order 1
		.about
			order 3
.closed
	@extend .transition
	@media all and (orientation: portrait)
		transform translateX(100%)
		opacity 0
		filter blur(10px)
	@media all and (orientation: landscape)
		transform translateX(0)
.open
	@extend .transition
	@media all and (orientation: portrait)
		transform translateX(0)
		opacity 1
		filter blur(0px)
	@media all and (orientation: landscape)
		transform translateX(0)
