a = rgba(p.c, 1)
b = rgba(p.c, 0.75)
c = rgba(p.c, 0.25)
d = rgba(p.c, 0.125)
e = rgba(p.c, 0.0625)
f = rgba(p.c, 0)
header
	//srcsets('../graphics/lightpaperfibers.png', 5, 500, 300, 4), url()
	//background: rgba(p.c, 0.5)
	background-image: linear-gradient(90deg, b, b, b, b, a, b, c, f, f)
	max-width 100vw
	flex-direction row
	display flex
	flex-basis 10%
	flex-grow 1
	justify-content space-around
	align-items stretch
	&:hover
		.adress
		.name
		#checkoutButton
		.socialMedia
			opacity 0.5
	.name
		font-family 'Nothing You Could Do'
		@extend .h1
		color: p.a
		@extend .text-shadow
		text-align center
		highlight()
		@extend .flex-thirds
		@extend .headSectHov
	.about
		font-family Pompiere
		@extend .h3
		shade()
		highlight()
		@extend .flex-thirds
		@extend .headSectHov
		flex-direction column
		hr
			margin 1vh 0
	.badges
		highlight()
		@extend .flex-thirds
		text-align center
		flex-direction row
		display flex
		.icon
			height 4.25vmax
			width @height
			@extend .transition
			@extend .background
			@extend .pop
			highlight()
		.yelp
			height 5vmax
			width @height * (52/25)
			opacity 0.65
			background-image url('../graphics/icons/yelp.svg')
		.shoppingBag
			background-image url('../graphics/icons/shoppingBag.svg')
			position relative
			&:after
				content attr(title)
				position absolute
				bottom  0
				right 0
				line-height 50%
				@extend .h2
		#checkoutButton
			highlight()
			@extend .flex-seconds
			@extend .headSectHov
			@extend .caveat
			flex-direction column
			.subtext
				@extend .h2
		.socialMedia
			highlight()
			@extend .flex-seconds
			@extend .headSectHov
			height 100%
			justify-content center
