transition(name='fade' v-if=`view === 'checkout'`): #checkout
	.field.is-grouped.is-grouped-centered
		.control(style='text-align: center')
			p.help Checkout
			p.help
				| Your Total:
				span ${{total}}
	form#payment-form
		.control
			stripe
<<<<<<< HEAD
	button.delete.is-large(@click='togglePane("menu")')
=======
>>>>>>> ee33a9e3523534037498b322961a46bb58aaa4c9
