transition(name='fade' v-if=`view === 'checkout'`): #checkout
	.field.is-grouped.is-grouped-centered
		.control(style='text-align: center')
			p.help Checkout
			p.help
				| Your Total:
				span ${{total}}
	form#payment-form
		.control
			//label.label(for="card-element") Credit or debit card
			#card-element
			.field-label
			button.button.is-success(@click='charge()') Place Order
			#card-errors.help(role="alert")
