transition(name='fade' v-if=`view === 'checkout'`): #checkout
	.field.is-grouped.is-grouped-centered
		.control(style='text-align: center')
			p.help Checkout
			p.help
				| Your Total:
				span ${{total}}
	form#payment-form
		.control
			stripe
