transition(name='fade' v-if='view === "closed"'): #closed
	h1 Sorry we're closed!
	h2 Visit us from {{schedule.freindly.opening}} to {{schedule.freindly.closing}}
	h4 *Hours may change, so call ahead!
	h4: a(href="tel:1-818-826-1531") (818) 826-1531
