header
	h2.adress 7161 Lindley Ave Ste 100 Reseda, CA 91335
	h1.name Coco D' Nuts
	.badges
		#checkout
			.icon.shoppingBag
			h4 Complete Order
		.socialMedia
			a.icon.yelp(href="https://www.yelp.com/biz/coco-d-nuts-reseda" title="Yelp" target="_blank")
			a.icon.yelp(href="https://www.yelp.com/biz/coco-d-nuts-reseda" title="Yelp" target="_blank")
