header(:class="{closed: closed, open: !closed}")
	.about
		.adress 7161 Lindley Ave Reseda 91335
		.schedule Open {{schedule.freindly.opening}} to {{schedule.freindly.closing}}
	.name(@click=`togglePane('menu')`) Coco D' Nuts
	.badges
		#checkoutButton(@click='togglePane("checkout")')
			.icon.shoppingBag(:title="parseFloat(order.quantity)")
			transition(name="fade" v-if="order.quantity"): .subtext Complete Order
		.socialMedia
			a.icon.yelp(href="https://www.yelp.com/biz/coco-d-nuts-reseda" title="Yelp" target="_blank")
	button.delete.is-large(@click='togglePane("menu")')
