@require 'var.styl'
@require 'mixins.styl'

.flex-thirds
	flex-basis calc(100%/3)
.flex-seconds
	flex-basis 50%
.background
	background-origin border-box
	background-position center center
	background-repeat no-repeat no-repeat
	background-size cover
.transition
	transition all 0.4s ease-in-out-circ
.pop
	@extend .transition
	transform translateY(0vmax) scale(0.975)
	&:hover
	&:active
		transform translateY(-0.15vmax) scale(1)
.headSectHov
	display flex
	justify-content center
	align-items center
	cursor pointer
	@extend .pop
.text-shadow
	text-shadow: 0.1rem 0.1rem 2px p.b
genH(0.5, 5)
.caveat
	font-family caveat
	text-transform capitalize
	text-shadow: 0.1vmax 0.1vmax 0.1vmax p.e, 0.2vmax 0.2vmax 0.05vmax darken(p.e, 0.6)
	color white
.caveat-green
	font-family caveat
	text-transform capitalize
	text-shadow: 0.1vmax 0.1vmax 0.1vmax p.b, 0.2vmax 0.2vmax 0.05vmax darken(p.a, 0.6)
	color white
.center-self
	text-align center
	vertical-align center
	align-self center
	margin auto
.center
	text-align center
	display flex
	justify-content center
	align-content center
	align-items center
.animation
	animation-iteration-count infinite
	animation-duration 1s
.alternate
	animation-direction alternate
.delay
	animation-delay 1s
.loader
	content ''
	@extend .background
	@extend .animation
	@extend .transition
	@extend .alternate
	height 50vmin
	width @height
.expand
	width 100%
	height 100%
.pause
	animation none !important
	*
		animation none !important
		&:after
		&:before
			animation none !important
	&:after
	&:before
		animation none !important
.hide
	display none
.show
	display initial
.displayFlex
	display flex !important
.text
	margin-bottom 0.2vmin
	letter-spacing 0.05rem
	line-height 1.5
	text-align center
	text-transform capitalize
	overflow-wrap break-word
	word-wrap break-word
	hyphens auto
.Merienda
	font-family 'Merienda One'
	@extend .text
.Merienda-Red
	color: lighten(#DED4B6, 40%)
	text-shadow 0.1vmax 0.1vmax 0.1vmax #F75C66, 0.2vmax 0.2vmax 0.1vmax lighten(rgba(#1A382C, 0.9), 25%), 0.2vmax 0.3vmax 0.1vmax rgba(lighten(#1A382C, 95%), 0.5)
	font-weight 100
	@extend .Merienda
.Merienda-Green
	color: lighten(#DED4B6, 40%)
	text-shadow 0.1vmax 0.1vmax 0.1vmax #5FB392, 0.2vmax 0.2vmax 0.1vmax lighten(rgba(#1A382C, 0.9), 25%), 0.2vmax 0.3vmax 0.1vmax rgba(lighten(#1A382C, 95%), 0.5)
	font-weight 100
	@extend .Merienda
.Merienda-Yellow
	color lighten(#DB9B35, 85%)
	text-shadow 0.1vmax 0.1vmax 0.1vmax darken(#DB9B35, 10%), 0.2vmax 0.2vmax 0.1vmax lighten(rgba(#1A382C, 0.9), 25%), 0.2vmax 0.3vmax 0.1vmax rgba(lighten(#1A382C, 95%), 0.5)
	font-weight 100
	@extend .Merienda
.Merienda-Black
	color lighten(#DB9B35, 85%)
	text-shadow 0.1vmax 0.1vmax 0.1vmax #1A382C
	font-weight 100
	@extend .Merienda
.border-radius
	border-radius 10px
.donut
	srcsets('../graphics/DonutBeach.jpg', 5, 3320, 2250)
	@extend .background
.backgroundSpecial
	@extend .donut
	@extend .background
	box-shadow 0.1vmax 0.1vmax 1vmax lighten(#222, 15%)
	@extend .border-radius
.portrait
	@media all and (orientation: landscape)
		display none !important
	@media all and (orientation: portrait)
		display flex !important
.delete
	position absolute
	top 1.5rem
	left @top
	background: rgba(p.e, 0.9)
	@extend.portrait
	@extend .transition
	&:hover
	&:active
		transform scale(1.5) rotate(-360deg)
		background: rgba(darken(p.e, 75%), 0.85)
.button
	@extend .text
	@extend .background
	background-image url(pattern)
	@extend .h4
	cursor pointer
.is-danger
	@extend .Merienda-Red
.is-success
	@extend .Merienda-Green
.padding
	padding 2vmax
