#checkout
	highlight()
	align-self center
	height 100%
	.help
		@extend .caveat
		&:first-of-type
			font-size responsive 1rem 3rem
		&:last-of-type
			font-size responsive 1rem 5rem
			span
				@extend .caveat-green
	.input
		background: rgba(white, 0.92)
		font-family Roboto Slab
		text-transform capitalize
		@extend .h5
	.left
		display flex
		flex-direction column
		.control:last-of-type
			flex-grow 1
			align-self stretch
			justify-content center
			align-content center
			align-items center
			display flex
			button
				@extend .h2
