#closed
	display flex
	justify-content center
	align-content center
	align-items center
	flex-direction column
	h1
		font-size responsive 1rem 5rem
		@extend .caveat
	h2
		font-size responsive 0.75rem 4.75rem
		@extend .caveat
	h4
		font-size responsive 0.5rem 4srem
		@extend .caveat-green
		a
			font-family Roboto Slab
			font-weight lighter
