genH(3,4)
#closed
	@extend .expand
	@extend .center
	flex-direction column
	justify-content space-around
	srcsets('../graphics/palmy.jpg', 5, 4928, 3264)
	@extend .background
	position absolute
	top 0
	left 0
	.h1
	.h2
	.h3
	.h4
	.h5
	.h6
	a
		@extend .caveat
