@import "var.styl"
@import "reusables.styl"
//genH(1, 2)
#preview
	highlight()
	@extend .flex-seconds
	display flex
	align-content center
	align-items center
	justify-content center
	flex-direction column
	.item
		max-width 75%
		max-height 95%
		@extend .backgroundSpecial
		position relative
		@extend .border-radius
		flex-direction column
		transform rotate(.5deg)
		.photo
			width auto
			margin 0
			padding 0
			img
				width auto
				height 100%
				border-top-left-radius inherit
				margin 0
				padding 0
				max-height 40vmin
				//@media all and (orientation: portrait)
				//@media all and (orientation: landscape)
		.content
			//padding 0.5vmin 2vmin
			font-family sans-serif
			text-align center
			.name
				@extend .h4
				@extend .Merienda-Red
				text-transform capitalize
				@extend .text
			.price
				@extend .h5
				@extend .Merienda-Green
				@extend .text
				&:before
					content "$"
			.description
				@extend .h2
				font-family inherit
				white-space pre-wrap
				@extend .Merienda-Red
				overflow-y auto
				max-height 15vmin
				padding 0 2vmin
				background transparent
				@extend .text
			.category
				@extend .h5
				text-transform uppercase
				letter-spacing 0.25vmin
				@extend .Merienda-Yellow
				@extend .text
				&:after
				&:before
					content "∸"
					opacity 0.9
					font-weight bold
			.direction
				@extend .h5
				@extend .Merienda-Green
				@extend .text

@media all and (orientation: portrait)
	#all
		#preview
			.item
				border-radius 10px
				@extend .center
				.content
					position absolute
					@extend .backgroundSpecial
					padding 2vmin
					@extend .center-self
			.item
			.photo
			img
				border-radius 10px

@media all and (orientation: landscape)
	#all
		#preview
			.item
				border-radius 10px
				.content
					background none
					box-shadow none
				.photo, image
						border-radius 10px 0 10px 0
