@require "globals/*"
@require "dev/*"
@require "assets/*"
@require "comp/*"
@require "comp/body/*"

body
	display flex
	width 100vw
	min-height 100vh
	align-content stretch
	justify-content stretch
	align-items stretch
	flex-direction column
	margin 0
	padding 0
	line-height initial
	border none !important
	overflow-y auto
	overflow-x auto
	gradient(p.c)
	@extend .background
	srcsets('../graphics/CuttingBoard.jpg', 1, 6144, 4069, 10)
	#app
		height 100vh
		#all
			@extend .hide
			flex-direction column
			align-content stretch
			justify-content stretch
			align-items stretch
			height 100vh
.showcase
	position fixed
	top 0
	left 0
	display flex
	width 100vw
	height 100vh
	align-content center
	justify-content center
	align-items center
	background-color: rgba(#444, 0.75)
	flex-direction column
	z-index 9999
