@require "dev/*"
@require "assets/*"
@require "comp/*"

body
	display flex
	width 100vw
	min-height 100vh
	align-content flex-start
	justify-content flex-start
	align-items flex-start
	flex-direction column
	margin 0
	padding 0
	line-height initial
	border none !important
	overflow-y auto
	overflow-x auto
	gradient(p.c)
	background-image url(../graphics/CuttingBoard.jpg)
	@extend .background
	#app
		flex-direction column
.showcase
	position fixed
	top 0
	left 0
	display flex
	width 100vw
	height 100vh
	align-content center
	justify-content center
	align-items center
	background-color: rgba(#444, 0.75)
	flex-direction column
	z-index 9999
